<!DOCTYPE html>
<html>
  <head>
    <title>Lecture01Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>This is my navbar</h1>
    <%= yield %>
    <p>footer</p>
  </body>
</html>
